{% extends '::base.html.twig' %}
{% block header %}Secteur{% endblock %}
{% block header1 %}#{{ entity.id }}{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <table class="table">

                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ entity.nom }}</td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td>{{ entity.region }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ entity.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('secteur_edit', { 'id': entity.id }) }}" class="btn btn-success btn-block margin-bottom">
        Modifier
    </a>
    {{ form(delete_form) }}
    <a href="{{ path('secteur') }}" class="btn btn-warning btn-block">
        Revenir à la liste
    </a>
{% endblock %}
